/* You can add global styles to this file, and also import other style files */
#mongo{
    margin-right: 150px;
    margin-top: -19px;
}


#ex{
    margin-right: 150px;
}

#an{
    margin-right: 150px;
}

#no{
    margin-right: 150px;
}
.icons{
    padding-left: 272px;
}